* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #000;
  color: #333;
  line-height: 1.6;
  overflow: hidden;
}

#main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas-container {
  width: 100%;
  height: 100%;
}
